@model HeaderViewModel
<header>
    <!-- Header Start -->
    <div class="header-area">
        <div class="main-header ">
            <div class="header-top top-bg d-none d-lg-block">
                <div class="container-fluid">
                    <div class="col-xl-12">
                        <div class="row d-flex justify-content-between align-items-center">
                            <div class="header-info-left d-flex">
                                <div class="flag">
                                    <img src="assets/img/icon/header_icon.png" alt="">
                                </div>
                                <div class="select-this">
                                    <form action="#">
                                        <div class="select-itms">
                                            <select name="select" id="select1">
                                                <option value="">USA</option>
                                                <option value="">SPN</option>
                                                <option value="">CDA</option>
                                                <option value="">USD</option>
                                            </select>
                                        </div>
                                    </form>
                                </div>
                                <ul class="contact-now">
                                    <li>+777 2345 7886</li>
                                </ul>
                            </div>
                            <div class="header-info-right">
                                <ul>
                                    <li><a href="login.html">My Account </a></li>
                                    <li><a href="product_list.html">Wish List  </a></li>
                                    <li><a href="cart.html">Shopping</a></li>
                                    <li><a href="cart.html">Cart</a></li>
                                    <li><a href="checkout.html">Checkout</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="header-bottom  header-sticky">
                <div class="container-fluid">
                    <div class="row align-items-center">
                        <!-- Logo -->
                        <div class="col-xl-1 col-lg-1 col-md-1 col-sm-3">
                            <div class="logo">
                                <a href="index.html"><img src="assets/img/logo/logo.png" alt=""></a>
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-8 col-md-7 col-sm-5">
                            <!-- Main-menu -->
                            <div class="main-menu f-right d-none d-lg-block">
                                <nav>
                                    <ul id="navigation">
                                        <li><a href="index.html">Home</a></li>

                                        <li>
                                            <a href="Catagori.html">kategoriler</a>
                                            <ul class="submenu">
                                                @foreach (var item in Model.Categories)
                                                {
                                                    <li><a asp-route-id="@item.Id" asp-action="Index" asp-controller="Category">@item.Name</a></li>
                                                }

                                            </ul>
                                        </li>


                                        <li><a href="contact.html">Contact</a></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                        <div class="col-xl-5 col-lg-3 col-md-3 col-sm-3 fix-card">
                            <ul class="header-right f-right d-none d-lg-block d-flex justify-content-between">
                                <li class="d-none d-xl-block">
                                    <div class="form-box f-right ">
                                        <input type="text" name="Search" placeholder="Search products">
                                        <div class="search-icon">
                                            <i class="fas fa-search special-tag"></i>
                                        </div>
                                    </div>
                                </li>
                                <li class=" d-none d-xl-block">
                                    <div class="favorit-items">
                                        <i class="far fa-heart"></i>
                                    </div>
                                </li>
                                <li>
                                    <div class="shopping-card">
                                        <a asp-action="Index" asp-controller="Basket"><i class="fas fa-shopping-cart"></i></a>
                                    </div>
                                </li>
                                @if (User.Identity.IsAuthenticated)
                                {
                                    <li class="d-none d-lg-block"> <a class="btn header-btn">@User.Identity.Name</a></li>
                                    if (User.IsInRole("Admin"))
                                    {
                                        <li class="d-none d-lg-block"> <a asp-action="Index" asp-area="Admin" asp-controller="Admin" class="btn header-btn">Admin panel</a></li>
                                    }
                                    <li class="d-none d-lg-block"> <a asp-action="Logout" asp-controller="Account" class="btn header-btn">Çıkış Yap</a></li>
                                }
                                else
                                {
                                    <li class="d-none d-lg-block"> <a asp-action="Login" asp-controller="Account" class="btn header-btn">Giriş Yap</a></li>
                                }

                            </ul>
                        </div>
                        <!-- Mobile Menu -->
                        <div class="col-12">
                            <div class="mobile_menu d-block d-lg-none"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Header End -->

</header>